.App {
  font-family: sans-serif;
  text-align: center;

}

body{
  background-color: rgb(51, 62, 208);
  @media screen and (max-width: 400px) {
    background-color: black;
    .carosel{
      justify-content: space-between;
    }
    .carosel{
      h1{
        font-size: 14px;
      }
      img{
        padding: 0;
        height: 70px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
      }
    }
    .cards{
      border-radius:15px;
      img{
        height: 80px;
        width: 100%;
        aspect-ratio:1/1;
        object-fit:cover;
      }
    margin: 10px;
    border:none;
    
    }
   
  }
}

.carousel{
  height: 110px;
    background-color: rgb(6, 20, 69);
    color: white;
    margin-top: 20px;
    overflow: hidden;
    // width: 70%;
    border-radius: 15px;
  padding: 10px;
  // margin-left: 15%;
  
  }

.carosel{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-around;

  img{
   
    height: 110px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  
    
  }
  h1{
    font-size: 18px;
  }
}

.cards{
  border-radius:15px;
  img{
    height: 100px;
    width: 100%;
    aspect-ratio:1/1;
    object-fit:cover;
  }
margin: 10px;
border:none;

}

.sources{
  h1{
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 25px;
    margin-top: 10px;
  color: white;
  }
}

.category{
  h1{
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 25px;
    margin-top: 10px;
    color: white;
  }
}





.card{
background-color:rgb(1, 1, 63);
color: white;
border-radius: 0;
height:400px;
margin:10px auto;
img{
padding: 5px;
}
p{
  font-size: 18px;
}
read_more{
  justify-content: start;

}
}


.header{
  display: flex;
  justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
background-color:rgb(2, 2, 58);
color: white;
height: 30px;
h7{
  font-weight: 999;
}
}